SECRET_KEY= # твой секретный ключ

DEBUG=

# ДБ параметры
DATABASE_NAME=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=

# Celery параметры
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=

TELEGRAM_BOT_TOKEN= # твой Telegram Bot token
