# Django
SECRET_KEY=your-secret-key
DEBUG=true
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (Postgres)
NAME=habits_db
USER=postgres
PASSWORD=postgres
HOST=localhost
PORT=5432

# Celery (optional)
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/0

# JWT / Third-party
TELEGRAM_BOT_TOKEN=
